@font-face {
    font-family: 'grinchedRegular';
    src: url('fonts/grinchedRegular.otf') format('opentype');
    /*font-family: 'zabars';*/
    /*src: url('fonts/zabars.ttf') format('truetype');*/
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'grinchedRegular', Arial, Helvetica, sans-serif;
    background-image: url('img/dessert.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding-left: 70px;
}

h1 {
    font-size: 96px;
    letter-spacing: 10px;
    text-shadow: 4px 2px 2px rgba(0, 0, 0, 0.5);
}

.smartpohneModus {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 120vw;
    height: 120vh;
    backdrop-filter: blur(28px);
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 100;
    gap: 22px;
    font-size: 30px;
}

#canvas-wrapper {
    position: relative;
    max-width: 720px;
    max-height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.screen-box {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    border: 3px solid #000000;
}

#start-screen {
    background-image: url(img/9_intro_outro_screens/start/startscreen_2.png);
}

.control-buttons {
    top: 8px;
    position: absolute;
    display: flex;
    gap: 20px;
    left: 20px;
}

.control-icons {
    background: linear-gradient(180deg, rgba(228, 92, 92) 0%, rgba(255, 165, 0, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    padding: 10px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.6);
    border: 1px solid black;
}

.control-icons img {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
    width: 35px;
    height: 35px;
    transition: all 0.5s ease-in-out;
}

.control-icons:hover {
    cursor: pointer;
    width: 130px;
    transition: all 0.3s ease-in-out;
}

.control-icons img:hover {
    transform: scale(1.2);
}

.control-icons p {
    position: absolute;
    width: 0;
    opacity: 0;
    font-size: 1.5rem;
}

.control-icons:hover p {
    position: unset;
    width: unset;
    opacity: 1;
}

canvas {
    border-radius: 10px;
    display: block;
    border: 3px solid #000000;
    box-shadow: 16px -16px 16px rgba(0, 0, 0, 0.5);;
}

#full-screen {
    bottom: 8px;
    position: absolute;
    display: flex;
    gap: 20px;
    right: 20px;
}

.full-screen-icon {
    width: 30px !important;
    height: 30px !important;
}

.d-none {
    display: none;
}

.instructions {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 3px solid #000000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(35px) brightness(0.7);
}

.inner-distance {
    padding: 8px;
}

.inner-distance img {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
    width: 35px;
    height: 35px;
    transition: all 0.3s ease-in-out;
    opacity: 1;
}

.close-icon {
    position: absolute;
    top: 8px;
    right: 8px;
    background: linear-gradient(180deg, rgba(228, 92, 92) 0%, rgba(255, 165, 0, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    padding: 10px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.6);
    border: 1px solid black;
}

.explanation-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(180deg, rgba(228, 92, 92) 0%, rgba(255, 165, 0, 1) 100%);
    width: 300px;
    height: 28px;
    border-radius: 50px;
    padding: 10px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.6);
    border: 1px solid black;
    margin-top: 8px;
}

.option-2keys {
    display: flex;
    align-items: center;
    gap: 8px;
}

#lostGame {
    background-image: url(img/9_intro_outro_screens/game_over/youLost.png);
    backdrop-filter: blur(35px) brightness(0.7);
}

#wonGame {
    background-image: url(img/9_intro_outro_screens/game_over/gameover.png);
    backdrop-filter: blur(35px) brightness(0.7);
}

/* Smartphones ----------------- */
@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

/* Smartphones ----------------- */
@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
}

#hud {
    position: absolute;
    width: 100%;
    bottom: -72px;
}

.panel {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.panel-wrapper {
    margin-left: 32px;
    margin-right: 32px;
    display: flex;
    gap: 20px;
    left: 20px;
    bottom: 8px;
}

.control-button {
    background: linear-gradient(180deg, rgba(228, 92, 92) 0%, rgba(255, 165, 0, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.6);
    border: 1px solid black;
}

.control-button img {
width: 35px;
}